body {
  background-image: url("../assets/backgroundWhite.webp");

}

/*Le tableau de base */
.table-container {
  overflow: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #454D7C ;
  margin-top: 4rem;
}

.table-container h1 {
  font-size: 20px;
  margin: auto;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
  background-color: #F6BA4E; /* Nouvelle couleur de fond */
  padding: 10px;
  border-radius: 10px;
}

/* Styles spécifiques pour les smartphones */
@media only screen and (max-width: 600px) {
  .table-container {
    width: 100%;
    /* Pleine largeur sur les smartphones */
    padding: 10px;
      overflow-x: auto;
   }

  /* Ajustement de la taille de la police pour les smartphones */
  .table-container h1 {
    font-size: 18px;
  }

  button {
    font-size: 14px;
    /* Ajustement de la taille de la police pour les smartphones */
  }

  .btn-modifier,
  .btn-enregistrer,
  .btn-back {
    font-size: 14px;
    /* Ajustement de la taille de la police pour les smartphones */
  }
}