/* Style pour LoginView*/
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .login {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #E1DAFB;
    margin-top: 4rem; /* Ajuste la marge en haut pour rapprocher du navbar */
  
  }
  
  .login input {
    width: 70%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #D3CAF6;
  }
  
  /*#boutonId {
    width: 50%;
    height: 40px;
    border: 1px solid #C4B4FD;
    background: #B09CFB;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    border-radius: 15px;
  }
  
  #boutonId:hover {
    background: #735DC6;
  }*/
  
  h1 {
    width: 320px;
    margin: auto;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
}

/* Style pour HomeView*/
#homeView {
    overflow: auto;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column; /* Correction ici */
      align-items: center;
      width: 40%;
      margin: auto;
      text-align: center;
      padding: 50px;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background: #E1DAFB;
      margin-top: 4rem; /* Ajuste la marge en haut pour rapprocher du navbar */
  }
  
  /* Styles pour le wrapper du tableau */
  #homeViewDiv {
    border: 2px solid #ddd; /* Bordure du carré */
    padding: 20px; /* Espace intérieur du carré */
    border-radius: 10px; /* Coins arrondis du carré */
  }
  
  /* Styles pour le tableau */
  #tableHomeView {
    width: 100%;
    border-collapse: collapse;
  }
  
  #tableHomeView th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  #tableHomeView th {
    background-color: #f2f2f2;
  }
  
  /* Styles pour les boutons */
  #livraisonCheck {
    padding: 6px 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  #livraisonCheck:hover {
    opacity: 0.8;
  }

/*Le tableau de base */

.table-container {
    overflow: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; /* Correction ici */
    align-items: center;
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #E1DAFB;
    margin-top: 4rem; /* Ajuste la marge en haut pour rapprocher du navbar */

  }

  .assigner label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #555;
  }

  .assigner select {
    width: 50%;
    height: 40px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
body {
    background-image: url("../assets/pexels.jpg");
}

.addLivreur {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #E1DAFB;
    margin-top: 4rem; /* Ajuste la marge en haut pour rapprocher du navbar */

}

.addLivreur input {
    width: 70%;
    height: 40px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #D3CAF6;
    text-align: center;
    
}
/*Add command*/
#table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}
  
#table table, th, td {
    border: 1px solid #ddd;
}
  
#table th, td {
    padding: 10px;
    text-align: center;
    
}
/* AddClientView*/
.addClient {
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: auto;
  text-align: center;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #E1DAFB;
  margin-top: 4rem;

}

.addClient input {
    width: 70%;
    height: 40px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #D3CAF6;
    text-align: center;
    
}
