body{
  background-image: url("../assets/background.webp");

}

/*Le tableau de base */

.table-container {
  overflow: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Correction ici */
  align-items: center;
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #E1DAFB;
  margin-top: 4rem; /* Ajuste la marge en haut pour rapprocher du navbar */

}
.table-container h1{
font-size: 24px; /* Vous pouvez ajuster la taille selon vos préférences */
margin: auto;
text-align: center;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 2px;
margin-bottom: 20px;
text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
}

